$grey-text: rgb(165, 165, 165);
$light-text:  rgba(185, 184, 184, 0.425);
$brand-color:  rgb(77, 69, 93);
$white: #fff;

$bg-ranking: rgb(206, 214, 232);
$bg-complete: rgba(19, 24, 30, 0.815);
$bg-confirm: rgba(77, 69, 93, 0.526);


$good-cov: rgb(125, 185, 182);
$low-cov: rgb(232, 99, 119);